/* components/Editor/styles.modules.css */

.wrapper {
    padding: 2rem 3rem;
  }
  
  .label {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .editor {
    margin-top: 1rem;
    height: 500px;
  }

  /* .valueContainer h1{
    font-weight: bold;
    margin: 3px 0;
    font-size: 50px;
  } */

  .quillEditor{
    /* overflow-y: scroll; */
    height: 29rem;
    margin-top: 10px;
    scrollbar-width: none;
  }